@font-face {
    font-family: 'robotolight';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff2') format('woff2'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sinkin_sans500_medium_italic';
    src: url('SinkinSans-500MediumItalic-webfont.eot');
    src: url('SinkinSans-500MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('SinkinSans-500MediumItalic-webfont.woff2') format('woff2'),
         url('SinkinSans-500MediumItalic-webfont.woff') format('woff'),
         url('SinkinSans-500MediumItalic-webfont.ttf') format('truetype'),
         url('SinkinSans-500MediumItalic-webfont.svg#sinkin_sans500_medium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'robotolight', Arial, sans-serif;
    font-weight: 300;
    color: rgb(51, 51, 51);
    background-color: rgb(239, 240, 242);
    margin: 0;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background-color: white;
    text-transform: uppercase;
    border: 1px solid lightgrey;
    box-shadow: 0px 5px 15px lightgrey;
}

main{
    width: 85%;
    margin: auto;
}

#en_tete{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    max-width: 1200px;
}

#author_name{
    color: inherit;
    margin-left: 30px;    
    font-family: Verdana, sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#menu ul{
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    margin: 0;
}

#menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.95em;
}

#menu a{
    text-decoration: none;
    color: #33586e;
}
/*Jusqu'ici, identique à style.css*/

/*Autre section identique: ci-dessous sauf la classe last_posts renommée all_posts*/

h2 {
    font-size: 1.1em;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 150px;
    margin-left: 0;
}


.all_posts {
    display: flex;
    margin-bottom: 35px;
    background-color: rgb(251, 251, 251);
}

.figure {
    width: 50%;
    margin: 0;
}

.figure img{
    width: 100%;
}

.start_of_post {
    background-color: white;
    width: 50%;
    padding: 20px 30px 0px 30px;
    display: flex;
    flex-direction: column;
}

#date_post {
    font-size: 1em;
    text-align: left;
    color: rgba(51, 51, 51, 0.5);
}

.title_post{
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Cormorant SC';
    text-transform: uppercase;
}

.title_chapter {
    font-family: "Cormorant SC";
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 0;
    margin-top: 10px;
}

.start_of_content{
    font-size: 1em;
    width: 100%;
    overflow: hidden;
    line-height: 1.5em;
    margin-bottom: 1.8em;
}

.show_more{
    text-decoration: none;
    background-color: #435962;
    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 0.3em 2.3em 0.3em 2.3em;
    margin-bottom: 1.2em;
    cursor: pointer;
    letter-spacing: 0.15em;
}

/*Footer*/
footer{
    margin-top: 30px;
    padding-right: 3%;
    padding-left: 6%;
    display: flex;   
    background-color: #435962;
    color: white;
}

#pied_page{
    display: flex;
    align-items: center;
}

#footer_author{
    font-size: 24px;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
}

#conditions{
    font-family: 'sinkin_sans500_medium_italic', Arial, sans-serif;
    font-size: 0.9em;
    margin-left: 7%;
}

#merci{
    font-weight: bold;
}